<!-- Include Swiper.js CSS -->
{{ 'https://unpkg.com/swiper/swiper-bundle.min.css' | script_tag }}

<!-- Include Swiper.js JS -->
{{ 'https://unpkg.com/swiper/swiper-bundle.min.js' | script_tag }}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <product-recommendations
    class="related-products page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    data-url="{{ routes.product_recommendations_url }}?limit={{ section.settings.products_to_show }}"
    data-section-id="{{ section.id }}"
    data-product-id="{{ product.id }}"
  >
    {% if recommendations.performed and recommendations.products_count > 0 %}
      <h2 class="related-products__heading inline-richtext {{ section.settings.heading_size }}" style="color: {{ section.settings.heading_text_color }}">
        {{ section.settings.heading }}
      </h2>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {% assign skip_card_product_styles = false %}
          {% for recommendation in recommendations.products %}
            <div class="swiper-slide">
              <li class="grid__item relative">
                <img class="heart absolute z-50 top-2.5 right-2.5 w-5" src="https://cdn.shopify.com/s/files/1/0606/9957/4449/files/Icon-Wrapper.png?v=1722423195" width="auto" height="auto">             
                <a href="{{ recommendation.url }}">
                  {% render 'card-product',
                    card_product: recommendation,
                    media_aspect_ratio: section.settings.image_ratio,
                    image_shape: section.settings.image_shape,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    skip_styles: skip_card_product_styles
                  %}
                </a>
               
                <form action="/cart/add" method="post" id="add-to-cart-form-{{ recommendation.variants.first.id}}">
                  <input type="hidden" name="id" value="{{ recommendation.variants.first.id }}" id="variant-id-{{recommendation.variants.first.id }}">
                  <input type="hidden" name="quantity" value="1">
                  <button type="submit" class="cart-btn flex bg-black text-white border-0 py-2 px-4 items-center justify-center w-full">Add to Cart</button>
                </form>
             
              </li>
            </div>
            {%- assign skip_card_product_styles = true -%}
          {% endfor %}
        </div>
        
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Add Navigation -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      {% if section.settings.custom_link != blank and section.settings.custom_link_text != blank %}
        <a href="{{ section.settings.custom_link }}" class="custom-link" style="color: {{ section.settings.link_color }}">{{ section.settings.custom_link_text }}</a>
      {% else %}
        <!-- <hr class="custom-line" style="border-color: {{ section.settings.line_color }}">
      {% endif %} -->
    {% endif %}
  </product-recommendations>
  {% if section.settings.image_shape == 'arch' %}
    {% render 'mask-arch' %}
  {%- endif -%}
</div>

<script>
  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 1,
    spaceBetween: 10,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    breakpoints: {
      640: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      768: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
      1024: {
        slidesPerView: 4,
        spaceBetween: 40,
      },
    }
  });

  document.getElementById('variant-select-{{ recommendation.variants.first.id }}').addEventListener('change', function() {
    document.getElementById('variant-id-{{ recommendation.variants.first.id }}').value = this.value;
  });

  // Reset form fields and select values after back button press
  window.addEventListener('pageshow', function(event) {
    var form = document.getElementById('add-to-cart-form-{{ recommendation.variants.first.id }}');
    if (form) {
      form.reset(); // Reset form fields
      var select = document.getElementById('variant-select-{{ recommendation.variants.first.id }}');
      if (select) {
        select.selectedIndex = 0; // Reset select value to default
      }
    }
  });
</script>
